{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
     
</head>
<body >

   <!-- 菜单栏部分 -->
		<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li>
            <a class="logo">My Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      </ul>
    </header>

 <div class="blank  " style="height: 30px;">

 </div>
<div class="container" id="grad1" style="background-color:#ccccff; width: 600px; height: 450px; box-shadow: 5px 5px 2px #888888;">

  <div float:center>
  <form class='form-login' action="/login/" method="post">
 
  {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
  {% endif %}
      
  {% csrf_token %}
  <h1><br>Welcome to log in! </h1></div>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" name="pwd" placeholder="Enter password">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Remember me
      </label>
    </div>
    <div class="d-flex justify-content-around">
              <div class="btn_left"> 
                <button class="btn btn-primary btn-lg btn-block" left><a href="/register">Register</a> </button></div>
               <div class="btn_right"><button type="submit" class="btn btn-primary btn-lg btn-block" right>Login</button></div>
           </div>
     <p><a href="">Forget the password?</a></p>
    </div>
  </form>
</div>

</body>
</html>