<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <title>Reset password</title>
 
<style>
.out{
  width: 500px;
  height: 900px;
  margin: 0 auto;
  margin-top: 100px;
}
</style>
</head>
<body>
 
 
  <div class="out">
    <h1>Reset a password!</h1>
    <form method="post" action="{% url 'modify' %}">
      <P><span>New password：</span><input type="password" name="newpwd1" placeholder="At least 6."></P>
      <P><span>Confirm password：</span><input type="password" name="newpwd2" placeholder="At least 6."></P>
      {% csrf_token %}
      <input type="hidden" name="email" value="{{ email }}">
      <p><input type="submit" value="submit"></p>
    </form>
    <h1>{{ msg }}</h1>
  </div>
 
</body>
</html>